.invoice-container {
    width: 235mm; 
    height: 297mm;
    border: 0.3mm solid #cd7e7e; 
    padding: 9mm; 
    background-color: hwb(0 92% 4%);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0mm 0mm 3mm rgba(22, 17, 17, 0.15); 
}

/* Header Styles */
.invoice-header {
    background: linear-gradient(to right, #1e1a4a, #121102);
    color: #f3adad;
    text-align: left;
    padding: 8pt;
    margin-right: mm;
    margin-bottom: 4mm;
    border-radius: 8mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #dab42b;
}

.invoice-header h1 {
    font-size: 57pt;
    font-weight: bold;
    text-align: left;
    margin-right: 150mm;
}

.invoice-logo {
    width: 0mm;
}

/* Invoice Details */
.invoice-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5mm;
    flex-wrap: wrap;
    padding: 6pt;
    background-color: #f8f8f8;
    border-radius: 2mm;
    box-shadow: 0mm 0mm 2mm rgba(0, 0, 0, 0.1);
}

.invoice-details div {
    flex: 1;
    margin: 0 4mm;
}

/* Table Styles */
.invoice-items table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 6mm;
   
}

.invoice-items th, .invoice-items td {
    padding: 4mm;
    text-align: left;
    border: 0.3mm solid #f8c952;
}

.invoice-items th {
    background-color: #dab42b;
    color: white;
}

.invoice-items tr:nth-child(even) {
    background-color:#EBEBEB;
}

.invoice-items tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Total and Footer */
.total-section {
    background-color: #EBEBEB;
    color: rgb(97, 49, 49);
    text-align: right;
    padding: 12pt;
    font-weight: bold;
    border-radius: mm;
    border: #575fb3;
}

.amount-in-words{
    position: relative;
    left: 135mm;
    padding: 4pt;
    font-weight: bold;
}

.invoice-footer {
    background-color: #e7e4dc;
    padding: 4mm;
    text-align: left;
    font-size: 12pt;
    
}

